In [5]:
import pandas as pd

In [7]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [5]:
'b' in data

True

Can use any type of indexing that was used in numpy, like fancy indexing and shit,

## BUT IN KEY INDEXING, LIKE 'a':'c, c is included but in 2:3, 3 is excluded

In [9]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [17]:
data[2:3]

c    0.75
dtype: float64

In [21]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

#### this can cause some confusion in slicing, as 1:3 and [1]

In [24]:
data[1:3]

3    b
5    c
dtype: object

In [26]:
data[1]

'a'

#### so we use pandas functions like iloc, loc, ix

### First, the loc attribute allows indexing and slicing that always references the explicit index:

In [35]:
data.loc[1]

'a'

### iloc uses the index positions

In [40]:
data.iloc[1]

'b'

In [31]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [46]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

data.area and data[area] refer to the same obj, but try to use data['area'] as data.pop() is a method and data['pop']is a column in my dataframe

In [52]:
data.area is data['area']

True

In [54]:
# adding a new column : 
data['density']=data['pop']/data['area']

In [56]:
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [58]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [60]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [62]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [64]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [66]:
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [70]:
data['California'] #does not work as data[] indexes a column and not a row

KeyError: 'California'

In [78]:
data.iloc[:3, :2] #loc and iloc are used to refer to rows

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [98]:
data.loc['California':'New York', 'area':'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [84]:
data.ix[:3,:'pop'] #deprecated

AttributeError: 'DataFrame' object has no attribute 'ix'

In [92]:
data.loc[data['density']>100,['pop','density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [100]:
data.iloc[0]

area       4.239670e+05
pop        3.833252e+07
density    9.041393e+01
Name: California, dtype: float64

In [33]:
data.loc[['California','Florida'],['density','pop']]=90

In [35]:
data

              area       pop  density
California  423967        90     90.0
Texas       695662  26448193      NaN
New York    141297  19651127      NaN
Florida     170312        90     90.0
Illinois    149995  12882135      NaN