In [3]:
import numpy as np
import pandas as pd

None and NaN are used interchangably in Pandas

In [6]:
vals1 = np.array([1, None, 3, 4])
vals1

array([1, None, 3, 4], dtype=object)

In [8]:
vals2 = np.array([1, np.nan, 3, 4])
vals2

array([ 1., nan,  3.,  4.])

doing arithmatic ops on them will result in nan, so no min or max functions

## Operating on null values

In [12]:
data = pd.Series([1, np.nan, 'hello', None])

In [16]:
data.isnull() #creates a mask

0    False
1     True
2    False
3     True
dtype: bool

In [20]:
data[data.notnull()] #data selection module

0        1
2    hello
dtype: object

In [22]:
data.dropna() #drops na

0        1
2    hello
dtype: object

In [24]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [26]:
# dropping na here will result in dropping of entire row or column

In [28]:
df.dropna()

     0    1  2
1  2.0  3.0  5

In [30]:
df.dropna(axis=1)

   2
0  2
1  5
2  6

#### we use 'how' to specify, how='any' means we drop any column or row that has a null, and how='all' means we drop that row or column only if we have all values of that row or columnn as nan, For finer-grained control, the thresh parameter lets you specify a minimum number of non-null values for the row/column to be kept:

In [36]:
df[df.isnull()]=0

In [38]:
df

     0    1  2
0  1.0  0.0  2
1  2.0  3.0  5
2  0.0  4.0  6

In [40]:
df.fillna()

ValueError: Must specify a fill 'value' or 'method'.