In [1]:
import pandas as pd
import numpy as np

### Pandas with numpy align the indexes, so agar kisi ek field ka value is NaN or someshit, it will leave that blank

In [4]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

In [6]:
population/area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

if NAN is not required, we can usee inbuild functions

In [11]:
population.divide(area,fill_value=0)

Alaska         0.000000
California    90.413926
New York            inf
Texas         38.018740
dtype: float64